<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Live a Healthier Life
            <br/>
            With Us Today
        </h2>
        <p>
          Etsy everyday carry scenester yuccie man braid palo santo migas.
        </p>
        <a href="/contact" class="cs-button-solid">Get in Touch</a>
    </div>
    <picture class="cs-picture">
      <source srcset="{% getUrl '/assets/images/garlic_cta.jpg' | resize({ height: 712, width: 1574 }) | avif %}" media="(max-width: 600px)" type="image/avif">
      <source srcset="{% getUrl '/assets/images/garlic_cta.jpg' | resize({ height: 1200, width: 2000 }) | avif %}" media="(min-width: 601px)" type="image/avif">
      <img src="{% getUrl '/assets/images/garlic_cta.jpg' | resize({ height: 1200, width: 3400 }) | webp %}" loading="lazy" alt="Customers looking at garlic in store">
    </picture>
</section>