[build]
  publish = "public/"
  command = "npm run build"

  [build.processing]
    skip_processing = true
    css = { bundle = true, minify = true }
    js = { bundle = true, minify = true }

[[plugins]]
  # Installs the Lighthouse Build Plugin for all deploy contexts
  package = "@netlify/plugin-lighthouse"
  
[[plugins]]
package = "netlify-plugin-cache"

  [plugins.inputs]
  paths = [
    "public/assets/images",
    ".cache"
  ]