---
title: 'About | Agricom'
description: 'Organic foods store focussing on local suppliers'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture class="cs-picture">
          <source srcset="{% getUrl '/assets/images/about_banner.jpg' | resize({ height: 400, width: 750 }) | avif %}" media="(max-width: 600px)" type="image/avif">
          <source srcset="{% getUrl '/assets/images/about_banner.jpg' | resize({ height: 1000, width: 2000 }) | avif %}" media="(min-width: 601px)" type="image/avif">
          <img src="{% getUrl '/assets/images/about_banner.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Farmer looking out on his field">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                  <source srcset="{% getUrl '/assets/images/about_produce.jpg' | resize({ height: 628, width: 560 }) | avif %}" media="(max-width: 600px)" type="image/avif">
                  <source srcset="{% getUrl '/assets/images/about_produce.jpg' | resize({ height: 1062, width: 1044 }) | avif %}" media="(min-width: 601px)" type="image/avif">
                  <img src="{% getUrl '/assets/images/about_produce.jpg' | resize({ height: 1062, width: 1044 }) | webp %}" alt="Cucumbers and tomatoes">
                </picture>

                <picture class="cs-picture cs-picture2">
                  <source srcset="{% getUrl '/assets/images/farmer.jpg' | resize({ height: 428, width: 412 }) | avif %}" media="(max-width: 600px)" type="image/avif">
                  <source srcset="{% getUrl '/assets/images/farmer.jpg' | resize({ height: 750, width: 780 }) | avif %}" media="(min-width: 601px)" type="image/avif">
                  <img src="{% getUrl '/assets/images/farmer.jpg' | resize({ height: 750, width: 780 }) | webp %}" alt="Farmer looking at field">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">We are proudly committed to organic & local products</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="../../assets/svgs/quote-white.svg" alt="quotation marks" width="136" height="77">
                </div>
                <a href="/suppliers" class="cs-button-solid">Our Suppliers</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}