---
title: 'Our Suppliers | Agricom'
description: 'Organic foods store focussing on local suppliers'
permalink: suppliers/
eleventyNavigation:
    key: Our Suppliers
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/suppliers.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Suppliers</h1>
        <picture class="cs-picture">
          <source srcset="{% getUrl '/assets/images/farm.jpg' | resize({ height: 400, width: 750 }) | avif %}" media="(max-width: 600px)" type="image/avif">
          <source srcset="{% getUrl '/assets/images/farm.jpg' | resize({ height: 1000, width: 2000 }) | avif %}" media="(min-width: 601px)" type="image/avif">
          <img src="{% getUrl '/assets/images/farm.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Farm at sunrise">
        </picture>

    </section>

    <!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1102">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Our Suppliers</span>
          <h2 class="cs-title">Our Expert Food Producers</h2>
          <p class="cs-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur neque voluptatibus ipsam ratione, doloribus harum error repudiandae dignissimos nemo est!
          </p>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <picture class="cs-picture">
                <source srcset="{% getUrl '/assets/images/farmer.jpg' | resize({ height: 600, width: 686 }) | avif %}" media="(max-width: 600px)" type="image/avif">
                <source srcset="{% getUrl '/assets/images/farmer.jpg' | resize({ height: 674, width: 610 }) | avif %}" media="(min-width: 601px)" type="image/avif">
                <img src="{% getUrl '/assets/images/farmer.jpg' | resize({ height: 674, width: 610 }) | webp %}" alt="Farmer looking at field">
              </picture>
              <div class="cs-info">
                  <span class="cs-name">Esther Howard</span>
                  <span class="cs-job">Farmer</span>
                  <div class="cs-social-group">
                      <a href="" class="cs-link" aria-label="visit linkedin">
                          <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/face-dark-grey.svg" alt="facebook" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit twitter">
                          <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/twitter-dark-grey.svg" alt="twitter" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit instragram">
                          <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/instagram-dark-grey.svg" alt="instragram" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit youtube">
                          <img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/youtube-dark-grey.svg" alt="youtube" width="12" height="12">
                      </a>
                  </div>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-picture">
                <source srcset="{% getUrl '/assets/images/about_person2.jpg' | resize({ height: 600, width: 686 }) | avif %}" media="(max-width: 600px)" type="image/avif">
                <source srcset="{% getUrl '/assets/images/about_person2.jpg' | resize({ height: 674, width: 610 }) | avif %}" media="(min-width: 601px)" type="image/avif">
                <img src="{% getUrl '/assets/images/about_person2.jpg' | resize({ height: 674, width: 610 }) | webp %}" alt="Smiling person">
              </picture>
              <div class="cs-info">
                  <span class="cs-name">Jenny Wilson</span>
                  <span class="cs-job">Natural Deodorant Producer</span>
                  <div class="cs-social-group">
                      <a href="" class="cs-link" aria-label="visit linkedin">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/face-dark-grey.svg" alt="facebook" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit twitter">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/twitter-dark-grey.svg" alt="twitter" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit instragram">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/instagram-dark-grey.svg" alt="instragram" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit youtube">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/youtube-dark-grey.svg" alt="youtube" width="12" height="12">
                      </a>
                  </div>
              </div>
          </li>
          <li class="cs-item">
            <picture class="cs-picture">
              <source srcset="{% getUrl '/assets/images/about_person3.jpg' | resize({ height: 600, width: 686 }) | avif %}" media="(max-width: 600px)" type="image/avif">
              <source srcset="{% getUrl '/assets/images/about_person3.jpg' | resize({ height: 674, width: 610 }) | avif %}" media="(min-width: 601px)" type="image/avif">
              <img src="{% getUrl '/assets/images/about_person3.jpg' | resize({ height: 674, width: 610 }) | webp %}" alt="Happy woman">
            </picture>
              <div class="cs-info">
                  <span class="cs-name">Leslie Alexander</span>
                  <span class="cs-job">Baker</span>
                  <div class="cs-social-group">
                      <a href="" class="cs-link" aria-label="visit linkedin">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/face-dark-grey.svg" alt="facebook" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit twitter">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/twitter-dark-grey.svg" alt="twitter" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit instragram">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/instagram-dark-grey.svg" alt="instragram" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit youtube">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/youtube-dark-grey.svg" alt="youtube" width="12" height="12">
                      </a>
                  </div>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-picture">
                <source srcset="{% getUrl '/assets/images/about_person4.jpg' | resize({ height: 600, width: 686 }) | avif %}" media="(max-width: 600px)" type="image/avif">
                <source srcset="{% getUrl '/assets/images/about_person4.jpg' | resize({ height: 674, width: 610 }) | avif %}" media="(min-width: 601px)" type="image/avif">
                <img src="{% getUrl '/assets/images/about_person4.jpg' | resize({ height: 674, width: 610 }) | webp %}" alt="Happy man">
              </picture>
              <div class="cs-info">
                  <span class="cs-name">Phil Philson</span>
                  <span class="cs-job">Jam Artisan</span>
                  <div class="cs-social-group">
                      <a href="" class="cs-link" aria-label="visit linkedin">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/face-dark-grey.svg" alt="facebook" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit twitter">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/twitter-dark-grey.svg" alt="twitter" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit instragram">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/instagram-dark-grey.svg" alt="instragram" width="12" height="12">
                      </a>
                      <a href="" class="cs-link" aria-label="visit youtube">
                          <img img class="cs-icon" loading="lazy" decoding="async" src="../../assets/svgs/youtube-dark-grey.svg" alt="youtube" width="12" height="12">
                      </a>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}