/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1125 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbs-1125 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #sbs-1125 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1125 .cs-topper {
    color: #767676;
  }
  #sbs-1125 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1125 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1125 .cs-ul {
    width: 100%;
    margin: 0 0 2rem 0;
    padding-left: 1.25rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1125 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    list-style: none;
    text-align: left;
    width: 100%;
    max-width: 25rem;
    margin: 0;
    color: var(--bodyTextColor);
    position: relative;
  }
  #sbs-1125 .cs-li:before {
    /* bullet */
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0.625rem;
    left: -0.9375rem;
  }
  #sbs-1125 .cs-picture {
    max-width: 100%;
    height: auto;
    line-height: 1.538rem;
  }
  #sbs-1125 .cs-picture img {
    max-width: 100%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1125 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem 0 1rem;
  }
  #sbs-1125 .cs-image-group {
    /* reset the scale */
    align-self: flex-start;
    font-size: min(1.2vw, 1em);
    margin: 0;
  }
  #sbs-1125 .cs-content {
    width: 45%;
    /* prevent flexbox from squishing it */
    flex: none;
    align-self: flex-start;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-r {
    padding: var(--sectionPadding);
  }
  #sbs-r .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs-r .cs-left {
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #sbs-r .cs-picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs-r .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs-r .cs-picture1 {
    top: 0;
    right: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs-r .cs-picture2 {
    bottom: 0;
    left: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs-r .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs-r .cs-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #sbs-r .cs-title {
    max-width: 50rem;
    text-align: left;
  }
  #sbs-r .cs-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    text-align: left;
  }
  #sbs-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-r .cs-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs-r .cs-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs-r .cs-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs-r .cs-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs-r .cs-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-r .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-r .cs-left {
    /* sends it to the right */
    order: 2;
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs-r .cs-right {
    margin: 0;
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-570 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #gallery-570 .cs-picture {
    width: 50%;
    height: auto;
    /* makes it square */
    aspect-ratio: 1;
    display: block;
    position: relative;
  }
  #gallery-570 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
  #gallery-570 {
    flex-direction: row;
  }
  #gallery-570 .cs-picture {
    width: 20%;
  }
}
/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #stats-472 {
    padding: var(--sectionPadding);
    background: url(../images/bg_logo.png) #e9f1ee center right no-repeat;
    /* clips the glowing orbs from causing overflow issues when they overflow the container */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #stats-472:before, #stats-472:after {
    /* glowing orbs */
    content: "";
    width: 28.3125rem;
    height: 20.8125rem;
    background: #f1f1f4;
    opacity: 0.16;
    -webkit-filter: blur(182px);
    filter: blur(182px);
    position: absolute;
    display: block;
    top: -4.125rem;
    left: -14.1875rem;
    z-index: -1;
  }
  #stats-472:after {
    display: none;
  }
  #stats-472 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 43.75rem;
    margin: auto;
  }
  #stats-472 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3.75rem;
  }
  #stats-472 .cs-item {
    list-style: none;
    width: 47%;
    max-width: 15rem;
    margin: 0;
    padding: 0 0.75rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #stats-472 .cs-icon {
    /* 50px - 76px */
    width: clamp(3.125rem, 6vw, 4.75rem);
    height: auto;
    margin: 0 0 1.25rem;
    display: block;
  }
  #stats-472 .cs-number {
    /* 31px - 61px */
    font-size: clamp(1.9375rem, 4.3vw, 3.8125rem);
    line-height: 1.2em;
    text-align: center;
    font-weight: 400;
    margin: 0 0 0.25rem 0;
    color: var(--textColorGreen);
  }
  #stats-472 .cs-desc {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.15rem);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    color: var(--textColorGreen);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #stats-472:after {
    display: block;
    left: auto;
    top: 3.5625rem;
    right: -17.5625rem;
  }
  #stats-472 .cs-container {
    max-width: 80rem;
  }
  #stats-472 .cs-card-group {
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-67 {
    padding: var(--sectionPadding);
  }
  #reviews-67 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-67 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-67 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    column-gap: 1.25rem;
    row-gap: 4rem;
  }
  #reviews-67 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    /* pushes up the same amount the cs-item-img overlaps the card */
    margin: 2.5rem 0 0 0;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
  }
  #reviews-67 .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews-67 .cs-item-img {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -2.5rem;
  }
  #reviews-67 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bodyTextColor);
    border-bottom: 1px solid #e8e9ec;
  }
  #reviews-67 .cs-info {
    width: 100%;
    /* margin-top auto pushes up against the rest of the card, that way when one card has more text than the other, the reviewer info is always pushed to the bottom and lined up with the rest of them.  This ensures better responsiveness for changing content */
    margin: auto 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #reviews-67 .cs-flex-group {
    width: 100%;
    margin: 0;
  }
  #reviews-67 .cs-name {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    width: 40%;
    margin: 0;
    display: block;
    color: var(--headerColor);
  }
  #reviews-67 .cs-desc {
    font-size: 0.875rem;
    font-weight: 400;
    color: #7d799c;
    display: block;
  }
  #reviews-67 .cs-item-stars {
    width: 6rem;
    height: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-67 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=local.css.map */
