---
title: 'Agricom | Organic Foods Store | Ottawa, ON'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero-f86c414a054fc84b65b5743c1b8d2b84.avif'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <!-- <link rel="preload" as="image" href="{% getUrl '/assets/images/hero.jpg' | resize({ width: 720, height: 774 }) | avif %}"/> -->

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.province %},
                        "addressRegion": "{{ client.address.province }}"
                    {% endif %}
                    {% if client.address.postalCode %},
                        "postalCode": "{{ client.address.postalCode }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">All the Best <span class="green-text">Organics</span> Under One Roof</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
            </p>
            <a href="/contact/" class="cs-button-solid">Get in Touch</a>
            <span class="cs-header">Our Certifications:</span>
            <div class="cs-logo-group">
                <!--Logo 1-->
                <img class="cs-logo" src="./assets/images/partner1.svg" alt="Eco farm logo" width="113" height="31" decoding="async">
                <!--Logo 2-->
                <img class="cs-logo" src="./assets/images/partner2.svg" alt="Farmer house logo" width="113" height="40" decoding="async">
                <!--Logo 3-->
                <img class="cs-logo" src="./assets/images/partner3.svg" alt="Good farm logo" width="113" height="30" decoding="async">
                <!--Logo 4-->
                <img class="cs-logo" src="./assets/images/partner4.svg" alt="The Farm logo" width="113" height="37" decoding="async">
            </div>
        </div>
        <div class="cs-stat-group">
          <picture class="cs-background">
            <source srcset="{% getUrl '/assets/images/hero.jpg' | resize({ width: 720, height: 774 }) | avif %}" media="(max-width: 600px)" type="image/avif">
            <source srcset="{% getUrl '/assets/images/hero.jpg' | resize({ width: 1500, height: 1475 }) | avif %}" media="(min-width: 601px)" type="image/avif">
            <img src="{% getUrl '/assets/images/hero.jpg' | resize({ width: 1500, height: 1475 }) | webp %}" alt="Produce collection">
          </picture>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    83
                    <span class="cs-desc">Local Suppliers</span>
                </span>
            </div>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    5/5
                    <span class="cs-desc">Google Rating</span>
                </span>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<div id="gallery-570">
  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/jam.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/jam.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/jam.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Jam on bread">
  </picture>

  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/blueberries.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/blueberries.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/blueberries.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Fresh blueberries">
  </picture>

  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/mushroom.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/mushroom.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/mushroom.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Organic mushrooms">
  </picture>

  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/tea.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/tea.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/tea.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Refillable tea">
  </picture>

  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/coffee.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/coffee.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/coffee.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Coffee in bags">
  </picture>

  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/tumeric.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/tumeric.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/tumeric.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Tumeric ginger supplement">
  </picture>

  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/wellness.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/wellness.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/wellness.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Wellness products">
  </picture>


  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/hot-sauce.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/hot-sauce.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/hot-sauce.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="A mix of hot sauces">
  </picture>

  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/green-produce.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/green-produce.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/green-produce.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Green fruit and vegetables">
  </picture>

  <picture class="cs-picture">
    <source srcset="{% getUrl '/assets/images/strawberries.jpg' | resize({ height: 150, width: 150 }) | avif %}" media="(max-width: 600px)" type="image/avif">
    <source srcset="{% getUrl '/assets/images/strawberries.jpg' | resize({ height: 300, width: 300 }) | avif %}" media="(min-width: 601px)" type="image/avif">
    <img src="{% getUrl '/assets/images/strawberries.jpg' | resize({ height: 300, width: 300 }) | webp %}" alt="Strawberries">
  </picture>

</div>                          
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1125">
  <div class="cs-container">
      <!-- Left Image Section -->
      <div class="cs-image-group">
          <!--Main Image-->
          <picture class="cs-picture cs-picture-1">
            <source srcset="{% getUrl '/assets/images/slogan.png' | resize({ height: 508, width: 1110 }) | avif %}" media="(max-width: 600px)" type="image/avif">
            <source srcset="{% getUrl '/assets/images/slogan.png' | resize({ height: 508, width: 1110 }) | avif %}" media="(min-width: 601px)" type="image/avif">
            <img src="{% getUrl '/assets/images/slogan.png' | resize({ height: 676, width: 657 }) | webp %}" alt="Company slogan">
          </picture>
      </div>
      <!-- Right Content Section-->
      <div class="cs-content">
          <span class="cs-topper">Fully Organic Store</span>
          <h2 class="cs-title">Helping Each Other and the Planet Live Healthier</h2>
          <p class="cs-text">
              We help companies develop powerful corporate social responsibility, grantmaking, and employee engagement strategies. Our impact is about more than moving money to where it’s needed most it’s also about helping nonprofits access information and ideas that will help them listen, learn, and grow.
          </p>
          <a class="cs-button-solid" aria-label="learn more about our programs" href="/about/">Discover More</a>
      </div>
  </div>
</section>

   <!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-472">
  <div class="cs-container">
      <ul class="cs-card-group">
          <li class="cs-item">
              <img class="cs-icon" aria-hidden="true" src="./assets/svgs/trash-off.svg" loading="lazy" decoding="async" alt="No trash icon" width="76" height="66">
              <span class="cs-number">100</span>
              <span class="cs-desc">tonnes of plastic diverted from landfills</span>
          </li>
          <li class="cs-item">
              <img class="cs-icon" aria-hidden="true" src="./assets/svgs/mood-heart.svg" loading="lazy" decoding="async" alt="Happy customer icon" width="76" height="66">
              <span class="cs-number">100%</span>
              <span class="cs-desc">Guaranteed Customer Satisfaction</span>
          </li>
          <li class="cs-item">
            <img class="cs-icon" aria-hidden="true" src="./assets/svgs/flower.svg" loading="lazy" decoding="async" alt="Flower icon" width="76" height="66">
            <span class="cs-number">500</span>
            <span class="cs-desc"> tonnes of Organic Produce Sold</span>
        </li>
          <li class="cs-item">
              <img class="cs-icon" aria-hidden="true" src="./assets/svgs/carrot.svg" loading="lazy" decoding="async" alt="Carrot icon" width="76" height="66">
              <span class="cs-number">10</span>
              <span class="cs-desc">Fresh, organic recipes weekly</span>
          </li>
      </ul>
  </div>
</section>
                              
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-67">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Our Reviews</span>
          <h2 class="cs-title">What People Say</h2>
      </div>
      <ul class="cs-card-group">
          <!-- Review 1 -->
          <li class="cs-item">
              <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="./assets/images/profile-1.png" alt="profile picture" width="80" height="80">
              <p class="cs-item-text">
                  Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, debitis!
              </p>
              <div class="cs-info">
                  <div class="cs-flex-group">
                      <span class="cs-name">Jon Doe</span>
                      <span class="cs-desc">Homeowner</span>
                  </div>
                  <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="./assets/svgs/stars.svg" alt="stars" width="96" height="16">
              </div>
          </li>
          <!-- Review 2 -->
          <li class="cs-item">
            <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="./assets/images/profile-1.png" alt="profile picture" width="80" height="80">
              <p class="cs-item-text">
                  Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
              </p>
              <div class="cs-info">
                  <div class="cs-flex-group">
                      <span class="cs-name">Jon Doe</span>
                      <span class="cs-desc">Homeowner</span>
                  </div>
                  <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="./assets/svgs/stars.svg" alt="stars" width="96" height="16">
              </div>
          </li>
      </ul>
      <a aria-label="read more reviews" href="/reviews/" class="cs-button-solid">Read More</a>
  </div>
</section>
                              
    {% include 'components/cta.html' %}
{% endblock %}